body{
  background-color: #EBEBEB;
  margin: 0;

}

.header{
border-bottom: #ebebeb7b solid 2px;
display: flex;
justify-content: space-around;
}

.header__name{
  color: #3f3f3f;
  font-size: 1.5rem;
}

.header__tag{
  color: #3f3f3f;
  font-size: 1.5rem;
}

.infoBoks{

}

.infoBoks__img{
 width: 100%;
 margin: 0 3rem 0 3rem
}

.infoBoks__text{

}

.circle{
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
}